pkgbase = mac-native-screenshare
	pkgdesc = Experimental native Mac Screen Sharing add-on for Omarchy
	pkgver = 0.1.0alpha2
	pkgrel = 2
	url = https://github.com/LoFenk/mac-native-screenshare
	arch = x86_64
	license = MIT
	license = ISC
	license = BSD-2-Clause
	license = BSD-3-Clause
	checkdepends = lua
	makedepends = meson>=1.12.0
	makedepends = ninja
	makedepends = pkgconf
	makedepends = libdrm
	depends = bash
	depends = coreutils
	depends = glibc>=2.44
	depends = aml>=1.0.0
	depends = aml<2.0.0
	depends = pixman
	depends = libjpeg-turbo
	depends = gnutls
	depends = nettle>=4.0
	depends = nettle<5.0
	depends = libnettle.so
	depends = libhogweed.so
	depends = gmp
	depends = zlib
	depends = wayland
	depends = jansson
	depends = libxkbcommon
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = openssl
	depends = networkmanager
	depends = avahi
	depends = systemd
	depends = util-linux
	depends = omarchy>=4.0.3
	depends = omarchy<4.1
	depends = hyprland>=0.56.2
	depends = hyprland<0.57
	options = !debug
	options = !lto
	source = integration-08ebb7eafe816b58dc4461a77e8a8e17f5ef1b8c.tar.gz
	source = neatvnc-458553ce35b8828f9973b20f36fe3fc8460b45ab.tar.gz
	source = wayvnc-5c2fc1356d84c192d23481fa526fee30ca749ac8.tar.gz
	source = wayvnc-private-rpath.patch
	source = sources.json
	source = README-PACKAGE.md
	source = verify-package.py
	source = THIRD-PARTY-NOTICES
	sha256sums = 2052664861efb38339d6fea48c6cd1576d9713dcd4f79f7671e6d70b555adf31
	sha256sums = adeaa1d9a9a7baee686b9ab28c526f8faff7aaa5a472ce21102c229f30aefc1b
	sha256sums = 34e3235373255dd43afc93d1983198bb37a63ee6ad461b16fc846febdc6ffefe
	sha256sums = 8c3e05e3f257cee878a520d9631c5d2c6e1baa330b50a889a6a5fc2765bbbc14
	sha256sums = b973dde12e21757f6060825e2e937999b790a439749c8f5276bad96d073b2fa6
	sha256sums = 1ad563df175196cc823d4c931eeebe6be22f9be246ddce71835a14fb410d9aa1
	sha256sums = 93bd050a57ab20fb99f9ff4a753a2193d5b0f23b257a01fd05d513f69891f827
	sha256sums = 0cd39a006c67c5f41d995607eb1ab9a5767c6e5791614083d23882805c458763

pkgname = mac-native-screenshare
